<header id="card-header" class="bg-white shadow-md">
  <div class="flex items-center px-4 text-xs text-white bg-gradient-to-r from-green-700 to-green-600 h-9">
    <span>YOUNESS ABACH - BH2373243 - DERNIÈRE CONNEXION LE 12/01/2025 À 08:49:20</span>
  </div>
  <nav class="flex items-center justify-between px-5 py-3">
    <a routerLink="/" class="flex items-center">
      <img src="assets/images/logo-bnp.svg" class="h-6 mr-2" alt="BNP Paribas">
      <span class="pl-2 text-sm text-gray-600 uppercase border-l border-gray-300">Ma Banque Entreprise</span>
    </a>
    <div class="flex items-center space-x-4">
      <a title="Français" class="px-2 py-1 font-bold text-gray-700 cursor-pointer hover:text-green-500">fr</a>
      <a routerLink="/logout">
        <img title="Deconnexion" src="/assets/images/deconnexion.png" class="w-5 h-5" alt="Deconnexion">
      </a>
    </div>
  </nav>
</header>
