<aside class="bg-[#009561] text-white w-full md:w-[270px] transition-all duration-300 h-full min-h-screen pt-4">
  <ul class="divide-y divide-white">
    <!-- E-Documents Menu Item -->
    <li class="flex flex-col px-4 py-2" 
        [ngClass]="{ 'hover:bg-green-800': activeMenu !== 'eDocuments' }">
      <div 
        class="flex items-center justify-between cursor-pointer"
        (click)="toggleSubmenu('eDocuments')"
      >
        <a routerLink="#section2" class="flex-1 text-white no-underline">E-Documents</a>
        <!-- Chevron Icon -->
        <svg 
          xmlns="http://www.w3.org/2000/svg" 
          fill="none" 
          viewBox="0 0 24 24" 
          stroke="currentColor" 
          class="w-5 h-5 transition-transform duration-200 transform"
          [class.rotate-180]="activeMenu === 'eDocuments'"
        >
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
        </svg>
      </div>
      <!-- Submenu -->
      <ul 
        class="pl-4 mt-2 space-y-2"
        *ngIf="activeMenu === 'eDocuments'"
      >
        <li><a routerLink="/edoc" class="text-white hover:underline">Relevés & Factures</a></li>
        <li><a routerLink="/user" class="text-white hover:underline">Justificatif d'Identité</a></li>
      </ul>
    </li>

    <!-- Administration Menu Item -->
    <li class="flex flex-col px-4 py-2" 
        [ngClass]="{ 'hover:bg-green-800': activeMenu !== 'administration' }">
      <div 
        class="flex items-center justify-between cursor-pointer"
        (click)="toggleSubmenu('administration')"
      >
        <a routerLink="#section3" class="flex-1 text-white no-underline">Administration</a>
        <!-- Chevron Icon -->
        <svg 
          xmlns="http://www.w3.org/2000/svg" 
          fill="none" 
          viewBox="0 0 24 24" 
          stroke="currentColor" 
          class="w-5 h-5 transition-transform duration-200 transform"
          [class.rotate-180]="activeMenu === 'administration'"
        >
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
        </svg>
      </div>
      <!-- Submenu -->
      <ul 
        class="pl-4 mt-2 space-y-2"
        *ngIf="activeMenu === 'administration'"
      >
        <li><a routerLink="/post" class="text-white hover:underline">Settings</a></li>
        <li><a routerLink="/users" class="text-white hover:underline">User Management</a></li>
      </ul>
    </li>
  </ul>
</aside>
